* {
    font-size: 30px;
}

.App {
    margin: 0 50px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: darkgray;
    border-radius: 10px;
}

.header > a {
    text-decoration: none;
}

.container {
    display: flex;
    background-color: aliceblue;
}

.aside {
    width: 25%;
}